name: Maven deploy

on:
  workflow_call:
    inputs:
      java-version:
        type: string
        description: "JDK version (e.g. '21')"
        required: false
        default: "21"
      maven-version:
        type: string
        description: maven version
        required: false
        default: ''
      target-store:
        type: string
        description: "Target store for the artifact"
        required: false
        default: "github"
      maven-command:
        type: string
        description: "Maven command to execute (default is 'deploy' for SNAPSHOT versions, 'install' otherwise)"
        required: false
        default: "deploy"
      additional-mvn-args:
        type: string
        description: "Additional mvn cmd-line params (e.g. '-Dskip.tests=false')"
        required: false
        default: ""
      working-directory:
        type: string
        description: "Working directory for the action"
        required: false
        default: ""
      pom-file:
        type: string
        description: "Path to the pom.xml file"
        required: false
        default: "pom.xml"
      upload-artifact:
        type: string
        description: "Upload the built artifact to GitHub Actions artifacts"
        required: false
        default: 'true'
      artifact-id:
        default: artifact
        required: false
        type: string
    secrets:
      maven-username:
        required: false
      maven-token:
        required: true
      gpg-private-key:
        required: false
      gpg-passphrase:
        required: false

jobs:
  mvn-deploy:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: centos/postgresql-96-centos7:9.6
        ports:
          - 5432:5432
        env:
          POSTGRESQL_USER: envconf
          POSTGRESQL_PASSWORD: envconf
          POSTGRESQL_DATABASE: envconf
          POSTGRESQL_ADMIN_PASSWORD: envconf
        options: >-
          --health-cmd="pg_isready -U envconf -d envconf"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: "Checkout code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: "Setup xmlstarlet"
        run: |
          # Skip installing pacakge docs {makes the man-db trigger much faster)
          sudo tee /etc/dpkg/dpkg.cfg.d/01_nodoc > /dev/null << 'EOF'
          path-exclude /usr/share/doc/*
          path-exclude /usr/share/man/*
          path-exclude /usr/share/info/*
          EOF
          sudo apt install -y xmlstarlet

      - name: "Check that version is SNAPSHOT"
        shell: bash
        run: |
          echo "ℹ️ The target store is '${{ inputs.target-store }}'. Relevant only for 'deploy' command." >> $GITHUB_STEP_SUMMARY
          cd ${GITHUB_WORKSPACE}
          VERSION_CHECK=$(xmlstarlet sel -N x="http://maven.apache.org/POM/4.0.0" -t -v "/x:project/x:version[contains(., '{revision}')]" ./pom.xml || echo "")
          # If project/version is not a reference to project/properties/revision, then check project/version if it contains '-SNAPSHOT'
          # Else check project/properties/revision if it contains '-SNAPSHOT'
          if [[ "${VERSION_CHECK}" == "" ]]
          then
            IS_SNAPSHOT=$(xmlstarlet sel -N x="http://maven.apache.org/POM/4.0.0" -t -v "/x:project/x:version[contains(., '-SNAPSHOT')]" ./${{ inputs.pom-file }} || echo "")
          else
            IS_SNAPSHOT=$(xmlstarlet sel -N x="http://maven.apache.org/POM/4.0.0" -t -v "/x:project/x:properties/x:revision[contains(., '-SNAPSHOT')]" ./${{ inputs.pom-file }} || echo "")
          fi
          if [[ "${IS_SNAPSHOT}" == "" ]]
          then
            echo "ℹ️ The project's version in the ${{ inputs.pom-file }} has no '-SNAPSHOT' postfix." >> $GITHUB_STEP_SUMMARY
            echo "ℹ️ Workflow will not deploy any artifacts. It will execute 'mvn install' command." >> $GITHUB_STEP_SUMMARY
            echo "ℹ️ The project's version in the ${{ inputs.pom-file }} has no '-SNAPSHOT' postfix."
            echo "ℹ️ Workflow will not deploy any artifacts. It will execute 'mvn install' command."
            echo "IS_SNAPSHOT=false" >> $GITHUB_ENV
            echo "MVN_COMMAND=install" >> $GITHUB_ENV
          else
            echo "✅ The project's version in the ${{ inputs.pom-file }} has '-SNAPSHOT' postfix" >> $GITHUB_STEP_SUMMARY
            echo "✅ Workflow will deploy SNAPSHOT artifact" >> $GITHUB_STEP_SUMMARY
            echo "✅ The project's version in the ${{ inputs.pom-file }} has '-SNAPSHOT' postfix."
            echo "✅ Workflow will deploy SNAPSHOT artifact"
            echo "IS_SNAPSHOT=true" >> $GITHUB_ENV
            echo "MVN_COMMAND=deploy" >> $GITHUB_ENV
          fi
          
      - name: "Check if ${{ inputs.target-store }} profile exists in ${{ inputs.pom-file }}"
        shell: bash
        working-directory: ${{ inputs.working-directory }}
        run: |
          echo "ℹ️ Checking if the '${{ inputs.target-store }}' profile exists in ${{ inputs.pom-file }}" >> $GITHUB_STEP_SUMMARY
          PROFILE_CHECK=$(xmlstarlet sel -N x="http://maven.apache.org/POM/4.0.0" -t -v "/x:project/x:profiles/x:profile[x:id='${{ inputs.target-store }}']" ./${{ inputs.pom-file }} || echo "")
          if [[ "${PROFILE_CHECK}" == "" ]]
          then
          echo "ℹ️ The '${{ inputs.target-store }}' profile does not exist in ${{ inputs.pom-file }}. Please create it if you plan to deploy artifacts." >> $GITHUB_STEP_SUMMARY
          echo "ℹ️ The detailed instruction: https://github.com/Netcracker/.github/blob/main/docs/maven-publish-pom-preparation_doc.md" >> $GITHUB_STEP_SUMMARY
          echo "ℹ️ The '${{ inputs.target-store }}' profile does not exist in ${{ inputs.pom-file }}. Please create it if you plan to deploy artifacts."
          echo "MVN_PROFILE=" >> $GITHUB_ENV
          else
          echo "✅ The '${{ inputs.target-store }}' profile exists in ${{ inputs.pom-file }}" >> $GITHUB_STEP_SUMMARY
          echo "✅ The '${{ inputs.target-store }}' profile exists in ${{ inputs.pom-file }}"
          echo "MVN_PROFILE=-P${{ inputs.target-store }}" >> $GITHUB_ENV
          fi

      - name: "Setup mvn additional args"
        shell: bash
        run: |
          if [[ "${{ inputs.additional-mvn-args }}" == "" ]]
          then
            echo "ℹ️ No additional mvn args provided. Using default ones." >> $GITHUB_STEP_SUMMARY
            echo "ℹ️ No additional mvn args provided. Using default ones."
          else
            ADDITIONAL_MVN_ARGS=""
            for arg in ${{ inputs.additional-mvn-args }}
            do
              ADDITIONAL_MVN_ARGS="${ADDITIONAL_MVN_ARGS} \"${arg}\""
            done
            echo "✅ Additional mvn args provided: ${ADDITIONAL_MVN_ARGS}" >> $GITHUB_STEP_SUMMARY
            echo "✅ Additional mvn args provided: ${ADDITIONAL_MVN_ARGS}"
          fi
          echo "ADDITIONAL_MVN_ARGS=${ADDITIONAL_MVN_ARGS}" >> $GITHUB_ENV

      - name: Wait for Postgres to be ready
        run: |
          for i in {1..30}; do
            if pg_isready -h localhost -U envconf -d envconf; then
              echo "Postgres is ready"
              break
            fi
            echo "Waiting for Postgres..."
            sleep 5
          done

      - name: Create uuid-ossp extension
        run: |
          sudo apt-get update && sudo apt-get install -y postgresql-client
          PGPASSWORD=envconf psql -h localhost -U postgres -d envconf -c 'CREATE EXTENSION IF NOT EXISTS "uuid-ossp";'

      - name: Cache local Maven repository
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}
          restore-keys: |
            maven-${{ runner.os }}

      - name: Set up Maven
        if: ${{ inputs.maven-version != '' }}
        uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1
        with:
          maven-version: ${{ inputs.maven-version }}

      # ================= Github packages deployment part
      - name: "Set up JDK for deployment"
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: ${{ inputs.java-version }}
          distribution: "temurin"
          server-id: ${{ inputs.target-store }}
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.gpg-private-key }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: "Additional GitHub repository configuration"
        shell: bash
        working-directory: ${{ inputs.working-directory }}
        run: |
          if [ -n "$(xmlstarlet sel -N x="http://maven.apache.org/SETTINGS/1.0.0" -t -v "/x:settings/x:servers/x:server[x:id='github']" ~/.m2/settings.xml)" ]; then
            echo "ℹ️ GitHub server configuration already exists in ~/.m2/settings.xml"
          else
            echo "✅ Adding GitHub server configuration to ~/.m2/settings.xml"
            xmlstarlet ed -L -N x="http://maven.apache.org/SETTINGS/1.0.0" -s "/x:settings/x:servers" -t elem -n "serverNew" -v '' \
            -s "//serverNew" -t elem -n "id" -v "github" \
            -s "//serverNew" -t elem -n "username" -v '${env.GITHUB_ACTOR}' \
            -s "//serverNew" -t elem -n "password" -v '${env.GITHUB_TOKEN}' \
            -r "//serverNew" -v "server" \
            ~/.m2/settings.xml
          fi
          cat ~/.m2/settings.xml

      - name: "Deploy to Maven Central"
        shell: bash
        working-directory: ${{ inputs.working-directory }}
        run: |
          if [[ "${{ inputs.pom-file }}" == "" || "${{ inputs.pom-file }}" == "pom.xml" ]]; then
            echo "ℹ️ No pom.xml file specified. Using default 'pom.xml'." >> $GITHUB_STEP_SUMMARY
            echo "ℹ️ No pom.xml file specified. Using default 'pom.xml'."
            POM_FILE=""
          else
            POM_FILE="-f ${{ inputs.pom-file }}"
          fi
          echo "ℹ️ Executing Maven command: mvn --batch-mode ${MVN_COMMAND} ${MVN_PROFILE} ${ADDITIONAL_MVN_ARGS} ${POM_FILE}" >> $GITHUB_STEP_SUMMARY
          mvn --batch-mode ${MVN_COMMAND} ${MVN_PROFILE} ${ADDITIONAL_MVN_ARGS} ${POM_FILE}
        env:
          MAVEN_USERNAME: ${{ github.actor }}
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.gpg-passphrase }}

      - name: "Upload artifact to GitHub Actions artifacts"
        if: ${{ inputs.upload-artifact != 'false' && inputs.artifact-id != '' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: qubership-testing-platform-environments
          path: '**/target'
